* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(234, 234, 234);
}
.header {
  background-color: rgb(64, 140, 206);
  box-shadow: 1px 5px 5px -3px #000000;
  margin: 0%;
  height: 15vh;
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Roboto';
  font-style: italic;
  font-size: 5vh;
  font-weight: bold;
  color: white;
  padding-left: 10px;
}

.add {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-left: 5px;
}

button {
  padding: 20px;
  font-family: 'Roboto';
  font-style: italic;
  font-size: 3vh;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.formpopup {
  display: none;
  position: absolute;
  width: 30%;
  background-color:rgb(64, 140, 206);
  margin-top: 1%;
  margin-left: 5px;
  margin-left: 35%;

}
form {
  display: flex;
  flex-direction:column;
  font-family: 'Roboto';
  color: white;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 5px 5px 35px 5px #000000;
  
}
.radiocss {
  display: flex;
  flex-direction: row;
}
.addbook {
  background-color: rgb(91, 212, 91);
  border-style: inset;
}
.addbook:hover {
  background-color: rgb(206, 64, 64);
}
.closebook {
  background-color: rgb(206, 168, 64);
  border-style: inset;
}
.closebook:hover {
  background-color: rgb(91, 188, 212);;
}

